:root {
  --primary-color: #fff5a5;
  --secondary-color: #ff6464;
  --third-color: #ff8264;
}

body {
  text-align: center;
  background: var(--primary-color);
}
h1 {
  color: var(--secondary-color);
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  color: var(--third-color);
}

a:hover {
  cursor: pointer;
  color: var(--secondary-color);
  text-decoration: underline;
}
